.credit-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit-card-text h2{
    color: black;
    font-weight: bold;
}

.appstorez{
    margin-top: 40px;
    cursor: pointer;
}
.appstorez img{
    margin-right: 20px;
}
